<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">-->

<!--    <link rel="stylesheet" href="../static/css/product.css" th:href="@{/css/product.css}">-->
<!--    <title>Title</title>-->
<!--</head>-->

<!--<body>-->
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--        <a class="navbar-brand" href="/home">SHOPING</a>-->
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

<!--        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">-->
<!--            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/home">Home</a>-->
<!--                </li>-->
<!--                <li class="nav-item active">-->
<!--                    <a class="nav-link" href="/products/list">Buy  <span class="sr-only">(current)</span></a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/products/showForm">Sell</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link disabled" href="#">Contact Us</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->

<!--    <i th:each="tempProduct : ${products}">-->

<!--        <div class="container content center">-->

<!--            <div class="Picture"><img src="/images/cat.jpg" alt = "image" width="100%" height="100%"></div>-->
<!--            <div class="Name">Name: <td th:text="${tempProduct.name}" /></div>-->
<!--            <div class="Date-created">Created: <td th:text="${#dates.format(tempProduct.dateCreated, 'yyyy/MM/dd HH:mm')}" /></div>-->
<!--            <div class="Last-updated">Updated: <td th:text="${#dates.format(tempProduct.lastUpdated, 'yyyy/MM/dd HH:mm')}" /></div>-->
<!--            <div class="Owner">Contact Email: <td th:text="${tempProduct.member.getEmail()}" /></div>-->
<!--            <div class="Price">Price: <td th:text="${#numbers.formatCurrency(tempProduct.price)}" /></div>-->
<!--            <div class="Status">-->
<!--                <td>-->
<!--                    <span th:if="${tempProduct.active == true}">Status:selling</span>-->
<!--                    <span th:if="${tempProduct.active == false}">Status:sold</span>-->
<!--                </td>-->
<!--            </div>-->
<!--            <button class="btn btn-dangerous" onclick="">Delete</button>-->
<!--        </div>-->


<!--    </i>-->

<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>-->

<!--</body>-->

<!--</html>-->